html,
body,
*,
*::before,
*::after {
    font-family: Arial !important;
    box-sizing: border-box;
}

p {
    font-size: 1.2rem;
}

.flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
}